<div class="container">
    <h4>Modificar Usuario</h4>
  
    <div class="row" *ngIf="user">
      <div class="col-sm-6">
          <form>
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input [(ngModel)]="user._id" type="number" class="form-control" name="ID" disabled="true">
            </div>

              <div class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input [(ngModel)]="user.name" type="text" class="form-control" name="nombre"> <!-- Tomado de add.component.ts -->    
              </div>
  
              <div class="mb-3">
                  <label class="form-label">Apellido</label>
                  <input [(ngModel)]="user.last_name" type="text" class="form-control" name="apellido">
              </div>
  
             <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input [(ngModel)]="user.password" type="password" class="form-control" name="password">
             </div>
  
              <div class="mb-3">
                  <label class="form-label">Fecha de Nacimiento</label>
                  <input [(ngModel)]="user._date" type="date" class="form-control" name="date">
              </div>
  
              <button (click)="update()" class="btn btn-primary">Guardar</button>
  
          </form>
      </div>
  
      <!-- Mostrar datos Agregados -->
      <!-- <div class="col-sm-6" hidden>
          <form>
              <div class="mb-3">
                  <label class="form-label">{{user.name}}</label>
              </div>
              <div class="mb-3">
                  <label class="form-label">{{user.last_name}}</label>
              </div>
              <div class="mb-3">
                  <label type="password" class="form-label" name="password"></label>
              </div>
              <div class="mb-3">
                  <label type="date" class="form-label">{{user._date}}</label>
              </div>
          </form>
  
      </div> -->
  
  
    </div>
  
  </div>
  